/* Hero */

.hero {
  background-color: var(--muted);
}

.hero__content {
  max-width: var(--width-2xl);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;

  color: var(--foreground);
  font-family: var(--display);
  font-size: var(--font-6xl);
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero__lead {
  margin-block: 24px;

  font-size: var(--font-xl);
  line-height: var(--leading-8);
  color: var(--muted-foreground);
}

.hero__link {
  color: var(--primary);
  font-size: var(--font-sm);
  font-weight: 600;
  line-height: var(--leading-6);
  text-decoration: none;
}

.hero__link:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

.hero--center {
  text-align: center;
  margin-inline: auto;
}
